<div class="card-group" style="margin: 20px auto;">
  <div class="card" style="width:18rem;">
    <%= image_tag tweet.user.avatar, class:"card-img-top",alt:"Card image cap" %></div>
    <div class="card-body" style="position:relative;">
    <h4 class="card-title"><%= tweet.user.name %></h4>
      <p class="card-text"><%= tweet.text%></p>
      <p class="card-text"><small class="text-muted" style="position: absolute; bottom: 30px;"><%= tweet.created_at.strftime("%Y-%m-%d %H:%M")%></small></p>
        <div class="bottan-wrapper" style="position: absolute; right: 0px; bottom: 35px;">
            <button class="btn btn-info">
              <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get%>
            </button>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <button class="btn btn-info">
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
              </button>
              <button class="btn btn-info">
                <%= link_to '削除', "/tweets/#{tweet.id}"%>
              </button>
            <% end %>
        </div>
      </div>
  </div>
</div>